<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="movies">
      <ion-icon name="film"></ion-icon>
      <ion-label>{{ 'TABS.MOVIES' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tv-shows">
      <ion-icon name="tv"></ion-icon>
      <ion-label>{{ 'TABS.TV_SHOWS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        <ion-label>{{ 'TABS.SEARCH' | translate }}</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
